
@font-face {
  font-family: "Array-Regular";
  src: url("../public/fonts/Array-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Array-Bold";
  src: url("/fonts/Array-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
